{% extends 'covid/base.htm' %}
{% load static %}
{% block css %}
.centers{
    display:flex;
    height:70vh;
    justify-content:center;
    align-items:center;
    background:url("{% static 'covid\images\centers.jpg'%}") ;
    background-size:cover;
}
.centers a{
    background:black;
    color:rgb(255,140,0);
    font-size:2.8rem;
    text-decoration:none;
    padding:0.5rem 2.5rem;
    margin:0 0.8rem;
    border-top-right-radius:1.5rem;
    border-bottom-left-radius:1.5rem;
}
footer{
    margin-top:0rem !important;
}
{% endblock %}
{% block title %} COVID-CENTERS {% endblock %}
{% block body %}
<div class="container-fluid centers w-100">
    <h3>
  <a href="/covid-centers/hathras/">Hathras</a>
  <a href="/covid-centers/mathura/">Mathura</a>
  <a href="/covid-centers/aligarh/">Aligarh</a>
</h3>
</div>


{% endblock %}

