{% extends 'covid/base.htm' %}
{% load static %}
{% block css %}

.carousel-item img{
  height:70vh;
}

.contain{
display: flex;
align-items: center;
background:url("{% static 'covid\images\summary.jpg'%}");
background-size: cover;
width:100%;
height:47vh;
margin-top:7.5rem;
margin-bottom:7rem;
}
.report{
width:90%;
font-family: "Georgia", serif;
}
.rep{
width:95vw;
font-size:1.37rem;
font-family: "Georgia", serif;
overflow:auto;
}
th{
  font-size:1.085em;
}
h5{
  font-weight:600;
font-size:1.75rem;
}

h3{
font-weight:500;
font-size:2.25rem;
}
.tit{
background-color:black;
color: rgb(255,140,0);
font-size: 2.6rem;
font-weight: 600;
height: 8vh;
}
.tit::before{
content:"___ __ _";
font-size:3.5rem;
font-weight: 100%;
color:rgb(255,140,0);
margin:-0.5rem 0 0 4rem;
position:absolute;
}
.tr{
background-color:rgb(255,135,0);
}
.sno{
width:2.3vw;
font-weight:700;
color:rgb(0,0,0);
}
.state{
width:24vw;
min-width: 150px;
overflow:hidden;
height:3.65rem;
font-size:1.02em;
font-weight:800;
color:rgb(255,135,0);
border-color:rgb(255,135,0);
}
.con, .act, .rec, .dea{
width:7.4vw;
font-weight:500;
}
.con{
color: red;
}
.act{
color: rgb(0, 112, 216);
}
.rec{
color: green;
}
.dea{
color: gray;
}
.upd{
color: orange;
}
.modal-content{
  margin-left:-10rem;
}

@media(max-width:770px){
  .carousel-item img{
    height:55vh;
  }
  .modal-content{
    margin-left:0rem;
  }
}


@media(max-width:450px){
  .carousel-item img{
  height:35vh;
  }
  .contain{
  height:37vh;
  }
  .tit{
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight: 400;
  height: 7.5vh;
  }
  .tit::before{
  display:none;
  }
  h5{
  font-size:1.5rem;
  }
  .modal-content{
    margin-left:0rem;
    overflow:auto;
}
  h3{
  font-size:2.0rem;
  }
}

{% endblock %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="blank"></div>

<section>
  <div id="carouselExampleIndicators" class="carousel carousel-dark carousel-fade slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button> -->
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'covid\images\banner\banner1.jpg' %}" class="d-block w-100" style="height:82.5vh;" alt="covid-warrior">
      </div>
      <div class="carousel-item">
        <img src="{% static 'covid\images\banner\banner3.png' %}" class="d-block w-100" alt="covid-warrior">
      </div>
      <div class="carousel-item">
        <img src="{% static 'covid\images\banner\banner2.png' %}" class="d-block w-100" alt="covid-warrior">
      </div>
      <div class="carousel-item">
        <img src="{% static 'covid\images\banner\banner8.jpg' %}" class="d-block w-100" alt="covid-warrior">
      </div>
      <div class="carousel-item">
        <img src="{% static 'covid\images\banner\banner10.jpg' %}" class="d-block w-100" alt="covid-warrior">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<div class="blank"></div>
<detail>
  {% load humanize %}
  <div class="contain">
    <div class="row report mx-auto">
      <div class="col-3 text-center" style="color: red;">
        <h5>Confirmed</h5>
        <h3 class="count">{{summary.confirmed}}</h3>
      </div>
      <div class="col-3 text-center" style="color: rgb(0, 112, 216);">
        <h5>Active</h5>
        <h3 class="count">{{summary.active}}</h3>
      </div>
      <div class="col-3 text-center" style="color: green;">
        <h5>Recovered</h5>
        <h3 class="count">{{summary.recovered}}</h3>
      </div>
      <div class="col-3 text-center" style="color: gray;">
        <h5>Deaths</h5>
        <h3 class="count">{{summary.deaths}}</h3>
      </div>
    </div>
  </div>

  <div class="text-center">
    <h2 class="tit">State-Wise Data</h2>
  </div>


  <!-- POPUP -->
  {% for st in states|slice:"1:" %}
  <div class="modal fade" id="{{st.statecode}}" style="width:100vw;" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="width:100vw; margin: 2rem; padding:0.5rem 2rem;">
        <div class="modal-header" style="height:8vh;">
          <h5 class="modal-title" style="margin-left: 7rem; font-weight: 800;" id="staticBackdropLabel">&#128312;{{st.state}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            {% for dis, value in district.items %}
            {% if dis == st.state %}
            <table class="table text-center">
              <thead>
                <tr class="tr" style="font-size: 1.5rem;">
                  <th class="th">S.No.</th>
                  <th class="th">City/District</th>
                  <th class="th">Confirmed</th>
                  <th class="th">Active</th>
                  <th class="th">Recovered</th>
                  <th class="th">Deaths</th>
                </tr>
              </thead>
              <tbody>
                {% load mathfilters %}
              {% for city,detail in value.districtData.items %}
                <tr style="font-size: 1.35rem;">
                  <td class="sno">{{forloop.counter}}</td>
                  <td class="state">
                    <button style="background-color:black;" type="button" class="btn btn-primary state">
                      {{city}}
                    </button>
                  </td>
                  <td class="con">{{detail.confirmed|intcomma }}</td>
                  <td class="act">{{detail.active|intcomma }}</td>
                  <td class="rec">{{detail.recovered|intcomma }}</td>
                  <td class="dea">{{detail.deceased|intcomma }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            {% endif %}
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="row rep mx-auto overflow">
    <table class="table mt-5 text-center">
      <thead>
        <tr class="tr">
          <th class="th">S.No.</th>
          <th class="th">State/UT</th>
          <th class="th">Confirmed</th>
          <th class="th">Active</th>
          <th class="th">Recovered</th>
          <th class="th">Deaths</th>
          <th class="th m">Active Ratio</th>
          <th class="th m">Recovery Ratio</th>
          <th class="th m">Fatality Ratio</th>
          <th class="th m">Last update</th>
        </tr>
      </thead>
      <tbody>
        {% load mathfilters %}
        {% for st in states|slice:"1:" %}
        <tr>
          <td class="sno">{{forloop.counter}}</td>
          <td class="state">
            <button style="background-color:black;" type="button" class="btn btn-primary state" data-bs-toggle="modal"
              data-bs-target="#{{st.statecode}}">
              {{st.state}}
            </button>
          </td>
          <td class="con">{{st.confirmed|intcomma }}</td>
          <td class="act">{{st.active|intcomma }}</td>
          <td class="rec">{{st.recovered|intcomma }}</td>
          <td class="dea">{{st.deaths|intcomma }}</td>
          {% if st.confirmed != "0" %}
          <td class="act m">{{st.active|div:st.confirmed|mul:100|floatformat}} %</td>
          <td class="rec m">{{st.recovered|div:st.confirmed|mul:100|floatformat}} %</td>
          <td class="dea m">{{st.deaths|div:st.confirmed|mul:100|floatformat}} %</td>
          {% else %}
          <td class="act m">0 %</td>
          <td class="rec m">0 %</td>
          <td class="dea m">0 %</td>
          {% endif %}
          <td class="upd m">{{st.lastupdatedtime}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



  </div>
</detail>

<script>
  $('.count').each(function () {
  $(this).prop('Counter',0).animate({
      Counter: $(this).text()
  }, {
      duration: 4000,
      easing: 'swing',
      step: function (now) {
          $(this).text(Math.ceil(now));
      }
  });
});
</script>
{% endblock %}