{% extends 'covid/base.htm' %}
{% load static %}
{% block script %} 
<script src="{% static 'covid\JS\chart.js' %}"></script>

<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.maps.js "></script>
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

{% endblock %}
{% block css %}
.header{
  margin-top:3rem;
  margin-bottom:4rem;
  color:rgb(255,130,0);
}
  .summary{
  width:90%;
  font-family: "Georgia", serif;
  }
  .summary h6,h3{
    font-weight:500;
  }
  h6{
    font-size:1.6rem;
  }
  h3{
    font-size:2.1rem;
  }
  a{
    text-decoration:none;
  }
  .col{
    padding-top:4rem;
    padding-bottom:4rem;
  }
  .tes:hover{
    background: rgba(150, 0, 215, 0.2);
  }
  .con:hover{
    background: rgba(255, 0, 0, 0.2);
    cursor:pointer;
  }
  .act:hover{
    background: rgba(0, 112, 216, 0.2);
    cursor:pointer;
  }
  .rec:hover{
     background: rgba(0, 128, 0, 0.2);
     cursor:pointer;
  }
  .dea:hover{
    background: rgba(128, 128, 128, 0.2);
    cursor:pointer;
  }
  .title-pie{
    position: absolute;
    margin-top: 158.5px;
    margin-left: 124.5px;
  }
 .graph{
   margin: 1rem auto;
   padding: 1.5rem 2.5rem;

 }
 .covid-map{
   display:flex;
   justify-content:center;
   align-items:center;

 }
 .mapdetail{
   color:red;
   text-align:center;
   font-weight:800;
 }
.acti, .reco, .deat{
  display:none;
}
}

{% endblock %}
{% block title %} Live-Traker {% endblock %}
{% block body %}
<div class="blank"></div>
<div style="width: 90%;" class="contain mx-auto">
  <div class="header w-100">
    <img src="{% static 'covid\images\india.png' %}" style="float: left;" alt="IND" width="90" height="70" ><h1 style="font-size:3rem; font-weight:600">INDIA</h1>
    <h6 style="color: gray; font-size: 1.2rem;">Last updated on {{summary.lastupdatedtime}}</h6>
  </div>

  <!-- Summary Data -->

  <div class="row summary mx-auto">
    <div class="col text-center tes" style="color: rgb(150, 0, 215); background: rgba(150, 0, 215, 0.1);">
      <h6>Total Tested</h6>
      <h3 class="count">{{tested.totalsamplestested}}</h3>
    </div>
    <div id="conf" class="col text-center  con" >
      <a href="#confirmedmap" style="color: rgb(255, 0, 0);">
      <h6>Confirmed</h6>
      <h3 class="count">{{summary.confirmed}}</h3>
    </a>
    </div>
    <div id="acti" class="col text-center act" >
      <a href="#activemap" style="color: rgb(0, 112, 216);">
      <h6>Active</h6>
      <h3 class="count">{{summary.active}}</h3>
      </a>
    </div>
    <div id="reco" class="col text-center rec" >
      <a href="#recoveredmap" style="color: rgb(0, 128, 0);">
      <h6>Recovered</h6>
      <h3 class="count">{{summary.recovered}}</h3>
      </a>
    </div>
    <div id="deatmap" class="col text-center dea" >
      <a href="#deathsmap" style="color: gray; ">
      <h5>Deaths</h5>
      <h3 class="count">{{summary.deaths}}</h3>
      </a>
    </div>
    </div>

    <!-- Pie Chart Data -->

    {% load mathfilters %}
    <div class="row mt-5">
      <div class="col con" style="color: rgb(255, 0, 0); height: fit-content;">
        <div class="title-pie">
          <h3> {{summary.confirmed|div:tested.totalsamplestested|mul:100|floatformat}}%</h3>
        </div>
        <canvas id="pos-ratio" width="280" height="300" style=" padding: 1.5rem 0.5rem; margin: auto;"></canvas>
        <script>
          var con = document.getElementById('pos-ratio').getContext('2d');
          var myChart = new Chart(con, {
              type: 'doughnut',
              data: {
                labels: [
                  'Positivity Ratio'

                ],
                datasets: [{
                  data: [{{summary.confirmed}}, {{tested.totalsamplestested|sub:summary.confirmed}}],
                  backgroundColor: [
                    'rgb(255,0,0)',
                    'rgba(255,0,0,0.1)',
                  ],
                  borderColor: [
                        'rgb(255,0,0,0.2)'
                    ],
                  borderWidth: 1.5,
                  hoverOffset: 10,
                  cutout: '60%',
                  radius:'90%',
                  rotation:25,
                }]
              },
              options:{
                responsive: false,
                plugins: {
                  legend: {
                    labels: {
                      font: {
                        size: 15,
                        weight:600,
                      },
                      boxWidth:30,
                      padding:15,
                      color:"black"
                    }
                  }
                },
                animation:{
                  animateScale:true
                }
              }
            }
          );
        </script>
      </div>
      <div class="col act" style="color: rgb(0, 112, 216); height: fit-content;">
        <div class="title-pie">
          <h3> {{summary.active|div:summary.confirmed|mul:100|floatformat}}%</h3>
        </div>
        <canvas id="act-ratio" width="280" height="300" style=" padding: 1.5rem 0.5rem; margin: auto;"></canvas>
        <script>
          var con = document.getElementById('act-ratio').getContext('2d');
          var myChart = new Chart(con, {
              type: 'doughnut',
              data: {
                labels: [
                  'Active Ratio'
                ],
                datasets: [{
                  data: [{{summary.active}}, {{summary.confirmed|sub:summary.active}}],
                  backgroundColor: [
                    'rgb(0, 112, 216)',
                    'rgba(0, 112, 216, 0.1)',
                  ],
                  borderColor: [
                        'rgba(0, 112, 216, 0.2)'
                    ],
                  borderWidth: 1.5,
                  hoverOffset: 10,
                  cutout: '60%',
                  radius:'90%',
                  rotation:25,
                }]
              },
              options:{
                responsive: false,
                plugins: {
                  legend: {
                    labels: {
                      font: {
                        size: 15,
                        weight:600,
                      },
                      boxWidth:30,
                      padding:15,
                      color:"black"
                    }
                  }
                }
              }
            }
          );
        </script>
      </div>
      <div class="col rec" style="color: rgb(0, 128, 0);  height: fit-content;">
        <div class="title-pie">
          <h3> {{summary.recovered|div:summary.confirmed|mul:100|floatformat}}%</h3>
        </div>
        <canvas id="rec-ratio" width="280" height="300" style=" padding: 1.5rem 0.5rem; margin: auto;"></canvas>
        <script>
          var con = document.getElementById('rec-ratio').getContext('2d');
          var myChart = new Chart(con, {
              type: 'doughnut',
              data: {
                labels: [
                  'Recovery Ratio'
                ],
                datasets: [{
                  data: [{{summary.recovered}}, {{summary.confirmed|sub:summary.recovered}}],
                  backgroundColor: [
                    'rgb(0, 128, 0,0.8)',
                    'rgba(0, 128, 0, 0.1)',
                  ],
                  borderColor: [
                        'rgba(0, 128, 0, 0.2)'
                    ],
                  borderWidth: 1.5,
                  hoverOffset: 10,
                  cutout: '60%',
                  radius:'90%',
                  rotation:25,
                }]
              },
              options:{
                responsive: false,
                plugins: {
                  legend: {
                    labels: {
                      font: {
                        size: 15,
                        weight:600,
                      },
                      boxWidth:30,
                      padding:15,
                      color:"black"
                    }
                  }
                }
              }
            }
          );
        </script>
      </div>
      <div class="col dea" style="color: gray;  height: fit-content;">
          <div class="title-pie">
            <h3> {{summary.deaths|div:summary.confirmed|mul:100|floatformat}}%</h3>
          </div>
          <canvas id="dea-ratio" width="280" height="300" style=" padding: 1.5rem 0.5rem; margin: auto;"></canvas>
          <script>
            var con = document.getElementById('dea-ratio').getContext('2d');
            var myChart = new Chart(con, {
                type: 'doughnut',
                data: {
                  labels: [
                    'Fatality Ratio'
                  ],
                  datasets: [{
                    data: [{{summary.deaths}}, {{summary.confirmed|sub:summary.deaths}}],
                    backgroundColor: [
                      'gray',
                      'rgba(128, 128, 128, 0.1)',
                    ],
                    borderColor: [
                          'rgba(128, 128, 128, 0.3)'
                      ],
                    borderWidth: 1.5,
                    hoverOffset: 10,
                    cutout: '60%',
                    radius:'90%',
                    rotation:25,
                  }]
                },
                options:{
                  responsive: false,
                  plugins: {
                    legend: {
                      labels: {
                        font: {
                          size: 15,
                          weight:600,
                        },
                        boxWidth:30,
                        padding:15,
                        color:"black"
                      }
                    }
                  }
                }
              }
            );
          </script>
        </div>
      </div>

  <!-- Map DATA -->
<center>
      <div class="covid-map" style="display:block; overflow: auto; background-color: black;">
        <div id="confirmedmap" class="conf">Covid-19 India Map will load here!</div>
        <div id="recoveredmap" class="reco">Covid-19 India Map will load here!</div>
        <div id="activemap" class="acti">Covid-19 India Map will load here!</div>
        <div id="deathsmap" class="deat">Covid-19 India Map will load here!</div>
        </div>
      </center>
        <script type="text/javascript">
          // Define the colorVariations of the angular gauge
          const confcolor = {
              "minvalue": "0",
              "code": "#FFE5E5",
              "gradient": "1",
              "color": [{
                  "minvalue": "1",
                  "maxvalue": "25000",
                  "color": "#FFB3B3"
              },{
                  "minvalue": "25000",
                  "maxvalue": "80000",
                  "color": "#FF7F7F"
              },{
                  "minvalue": "80000",
                  "maxvalue": "200000",
                  "color": "#FF6666"
              },{
                  "minvalue": "200000",
                  "maxvalue": "600000",
                  "color": "#FF4D4D"
              }, {
                  "minvalue": "600000",
                  "maxvalue": "1500000",
                  "color": "#FF3333"
              }, {
                  "minvalue": "1500000",
                  "maxvalue": "4000000",
                  "color": "#FF1A1A"
              }, {
                  "minvalue": "4000000",
                  "maxvalue": "6500000",
                  "color": "#FF0000"
              }]
          };

          const recocolor = {
              "minvalue": "0",
              "code": "#B3FFB3",
              "gradient": "1",
              "color": [{
                  "minvalue": "1",
                  "maxvalue": "25000",
                  "color": "#99FF99"
              },{
                  "minvalue": "25000",
                  "maxvalue": "80000",
                  "color": "#7FFF7F"
              },{
                  "minvalue": "80000",
                  "maxvalue": "200000",
                  "color": "#66E666"
              },{
                  "minvalue": "200000",
                  "maxvalue": "600000",
                  "color": "#4DCD4D"
              }, {
                  "minvalue": "600000",
                  "maxvalue": "1500000",
                  "color": "#33B333"
              }, {
                  "minvalue": "1500000",
                  "maxvalue": "4000000",
                  "color": "#1A9A1A"
              }, {
                  "minvalue": "4000000",
                  "maxvalue": "6500000",
                  "color": "#008000"
              }]
          };

          const acticolor = {
              "minvalue": "0",
              "code": "#B3FFFF",
              "gradient": "1",
              "color": [{
                  "minvalue": "1",
                  "maxvalue": "500",
                  "color": "#99FFFF"
              },{
                  "minvalue": "500",
                  "maxvalue": "1000",
                  "color": "#7FEFFF"
              },{
                  "minvalue": "1000",
                  "maxvalue": "5000",
                  "color": "#66D6FF"
              },{
                  "minvalue": "5000",
                  "maxvalue": "10000",
                  "color": "#4DBDFF"
              }, {
                  "minvalue": "10000",
                  "maxvalue": "40000",
                  "color": "#33A3FF"
              }, {
                  "minvalue": "40000",
                  "maxvalue": "100000",
                  "color": "#1A8AF2"
              }, {
                  "minvalue": "100000",
                  "maxvalue": "250000",
                  "color": "#0070D8"
              }]
          };

          const deatcolor = {
              "minvalue": "0",
              "code": "#f0f0f0",
              "gradient": "1",
              "color": [{
                  "minvalue": "1",
                  "maxvalue": "500",
                  "color": "#e0e0e0"
              },{
                  "minvalue": "500",
                  "maxvalue": "1000",
                  "color": "#d9d9d9"
              },{
                  "minvalue": "1000",
                  "maxvalue": "5000",
                  "color": "#c4c4c4"
              },{
                  "minvalue": "5000",
                  "maxvalue": "10000",
                  "color": "#b3b3b3"
              }, {
                  "minvalue": "10000",
                  "maxvalue": "40000",
                  "color": "#a6a6a6"
              }, {
                  "minvalue": "40000",
                  "maxvalue": "80000",
                  "color": "#919191"
              }, {
                  "minvalue": "80000",
                  "maxvalue": "200000",
                  "color": "#808080"
              }]
          };

          //Set up the Map's data
          const confdata = [
            {% for st in states|slice:"1:" %}
            {
              {% if forloop.counter < 9 %} 
              "id": "00{{forloop.counter}}",
              "value": "{{st.confirmed}}",
              "showLabel": "{{st.state}}"
                  {% if forloop.counter == 8 %}
                },
                {
                  "id": "009",
                  "value": "0",
                  "showLabel": "Daman and Diu"
                  {% endif %}
        
              {% elif forloop.counter < 18 %}
              "id": "0{{forloop.counter|add:'1'}}",
              "value": "{{st.confirmed}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 18 %}
              "id": "LA",
              "value": "0",
              "showLabel": "{{st.state}}"
              
              {% elif forloop.counter < 31 %}
              "id": "0{{forloop.counter}}",
              "value": "{{st.confirmed}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 31 %}
              "id": "",
              "value": "0",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 32 %}
              "id": "0{{forloop.counter|add:'-1'}}",
              "value": "{{st.confirmed}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 33 %}
              "id": "036",
              "value": "{{st.confirmed}}",
              "showLabel": "{{st.state}}"
        
              {% else %}
              "id": "0{{forloop.counter|add:'-2'}}",
              "value": "{{st.confirmed}}",
              "showLabel": "{{st.state}}"
        
              {% endif %}
            },
            {% endfor %}
            ];

        const recodata = [
            {% for st in states|slice:"1:" %}
            {
              {% if forloop.counter < 9 %} 
              "id": "00{{forloop.counter}}",
              "value": "{{st.recovered}}",
              "showLabel": "{{st.state}}"
                  {% if forloop.counter == 8 %}
                },
                {
                  "id": "009",
                  "value": "0",
                  "showLabel": "Daman and Diu"
                  {% endif %}
        
              {% elif forloop.counter < 18 %}
              "id": "0{{forloop.counter|add:'1'}}",
              "value": "{{st.recovered}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 18 %}
              "id": "LA",
              "value": "0",
              "showLabel": "{{st.state}}"
              
              {% elif forloop.counter < 31 %}
              "id": "0{{forloop.counter}}",
              "value": "{{st.recovered}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 31 %}
              "id": "",
              "value": "0",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 32 %}
              "id": "0{{forloop.counter|add:'-1'}}",
              "value": "{{st.recovered}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 33 %}
              "id": "036",
              "value": "{{st.recovered}}",
              "showLabel": "{{st.state}}"
        
              {% else %}
              "id": "0{{forloop.counter|add:'-2'}}",
              "value": "{{st.recovered}}",
              "showLabel": "{{st.state}}"
        
              {% endif %}
            },
            {% endfor %}
            ];

            const actidata = [
            {% for st in states|slice:"1:" %}
            {
              {% if forloop.counter < 9 %} 
              "id": "00{{forloop.counter}}",
              "value": "{{st.active}}",
              "showLabel": "{{st.state}}"
                  {% if forloop.counter == 8 %}
                },
                {
                  "id": "009",
                  "value": "0",
                  "showLabel": "Daman and Diu"
                  {% endif %}
        
              {% elif forloop.counter < 18 %}
              "id": "0{{forloop.counter|add:'1'}}",
              "value": "{{st.active}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 18 %}
              "id": "LA",
              "value": "0",
              "showLabel": "{{st.state}}"
              
              {% elif forloop.counter < 31 %}
              "id": "0{{forloop.counter}}",
              "value": "{{st.active}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 31 %}
              "id": "",
              "value": "0",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 32 %}
              "id": "0{{forloop.counter|add:'-1'}}",
              "value": "{{st.active}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 33 %}
              "id": "036",
              "value": "{{st.active}}",
              "showLabel": "{{st.state}}"
        
              {% else %}
              "id": "0{{forloop.counter|add:'-2'}}",
              "value": "{{st.active}}",
              "showLabel": "{{st.state}}"
        
              {% endif %}
            },
            {% endfor %}
            ];

            const deatdata = [
            {% for st in states|slice:"1:" %}
            {
              {% if forloop.counter < 9 %} 
              "id": "00{{forloop.counter}}",
              "value": "{{st.deaths}}",
              "showLabel": "{{st.state}}"
                  {% if forloop.counter == 8 %}
                },
                {
                  "id": "009",
                  "value": "0",
                  "showLabel": "Daman and Diu"
                  {% endif %}
        
              {% elif forloop.counter < 18 %}
              "id": "0{{forloop.counter|add:'1'}}",
              "value": "{{st.deaths}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 18 %}
              "id": "LA",
              "value": "0",
              "showLabel": "{{st.state}}"
              
              {% elif forloop.counter < 31 %}
              "id": "0{{forloop.counter}}",
              "value": "{{st.deaths}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 31 %}
              "id": "",
              "value": "0",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 32 %}
              "id": "0{{forloop.counter|add:'-1'}}",
              "value": "{{st.deaths}}",
              "showLabel": "{{st.state}}"
        
              {% elif forloop.counter == 33 %}
              "id": "036",
              "value": "{{st.deaths}}",
              "showLabel": "{{st.state}}"
        
              {% else %}
              "id": "0{{forloop.counter|add:'-2'}}",
              "value": "{{st.deaths}}",
              "showLabel": "{{st.state}}"
        
              {% endif %}
            },
            {% endfor %}
            ];

          //STEP 3 - Map Configurations
          var confConfigurations = {
              "type": "maps/india",
              "renderAt": "confirmedmap",
              "width": "650",
              "height": "650",
              "dataFormat": "json",
              "dataSource": {
                  // Map Configuration
                  "chart": {
                      "caption": "Confirmed Cases",
                      "subcaption": "INDIA",
                      "numbersuffix": "",
                      "includevalueinlabels": "1",
                      "labelsepchar": ": ",
                      "entityFillHoverColor": "#f50000",
                      "showShadow" : "1",
                      "theme": "fusion",
                      "showBorder" : "1",
                      "borderColor" : "#000",
                      "borderAlpha" : "100",
                      "bgcolor" : "#000",
                      
                  },
                  // Aesthetics; ranges synced with the slider
                  "colorrange": confcolor,
                  // Source data as JSON --> id represents countries of world.
                  "data": confdata,
              },
              
          }
          
          var recoConfigurations = {
              "type": "maps/india",
              "renderAt": "recoveredmap",
              "width": "650",
              "height": "650",
              "dataFormat": "json",
              "dataSource": {
                  // Map Configuration
                  "chart": {
                      "caption": "Recovered Cases",
                      "subcaption": "INDIA",
                      "numbersuffix": "",
                      "includevalueinlabels": "1",
                      "labelsepchar": ": ",
                      "entityFillHoverColor": "#007500",
                      "showShadow" : "1",
                      "theme": "fusion",
                      "showBorder" : "1",
                      "borderColor" : "#000",
                      "borderAlpha" : "100",
                      "bgcolor" : "#000",
                  },
                  // Aesthetics; ranges synced with the slider
                  "colorrange": recocolor,
                  // Source data as JSON --> id represents countries of world.
                  "data": recodata,
              },
              
          }

          var actiConfigurations = {
              "type": "maps/india",
              "renderAt": "activemap",
              "width": "650",
              "height": "650",
              "dataFormat": "json",
              "dataSource": {
                  // Map Configuration
                  "chart": {
                      "caption": "Active Cases",
                      "subcaption": "INDIA",
                      "numbersuffix": "",
                      "includevalueinlabels": "1",
                      "labelsepchar": ": ",
                      "entityFillHoverColor": "#0069cc",
                      "showShadow" : "1",
                      "theme": "fusion",
                      "showBorder" : "1",
                      "borderColor" : "#000",
                      "borderAlpha" : "100",
                      "bgcolor" : "#000",
                  },
                  // Aesthetics; ranges synced with the slider
                  "colorrange": acticolor,
                  // Source data as JSON --> id represents countries of world.
                  "data": actidata,
              },
              
          }
          
          var deatConfigurations = {
              "type": "maps/india",
              "renderAt": "deathsmap",
              "width": "650",
              "height": "650",
              "dataFormat": "json",
              "dataSource": {
                  // Map Configuration
                  "chart": {
                      "caption": "Deaths Cases",
                      "subcaption": "INDIA",
                      "numbersuffix": "",
                      "includevalueinlabels": "1",
                      "labelsepchar": ": ",
                      "entityFillHoverColor": "#666666",
                      "theme": "fusion",
                      "showShadow" : "1",
                      "showBorder" : "1",
                      "borderColor" : "#000",
                      "borderAlpha" : "100",
                      "bgcolor" : "#000",
                  },
                  // Aesthetics; ranges synced with the slider
                  "colorrange": deatcolor,
                  // Source data as JSON --> id represents countries of world.
                  "data": deatdata,
              },
              
          }

          FusionCharts.ready(function(){
              var confmap = new FusionCharts(confConfigurations);
          confmap.render();
          var recomap = new FusionCharts(recoConfigurations);
          recomap.render();
          var actimap = new FusionCharts(actiConfigurations);
          actimap.render();
          var deatmap = new FusionCharts(deatConfigurations);
          deatmap.render();
          });
        
        </script>

<!-- Time Series -->

  <div class="row" style="margin: 5rem 1rem; justify-content: center;">
    <div id="timeseries" style="width:80%">
      Time Series Will load here...
    </div>
  </div>
<script>
  const data = [
    {% for date in timeseries %}
    [
        "India",
        "{{date.date}}",
        {{date.dailyconfirmed}},
        {{date.dailyrecovered}},
        {{date.dailydeceased}}
    ],
    {% endfor %}
];
  
  const schema= [{
    "name": "Country",
    "type": "string"
}, {
    "name": "Time",
    "type": "date",
    "format": "%-d %B %Y"
}, {
    "name": "Confirmed",
    "type": "number"
}, {
    "name": "Recovered",
    "type": "number"
}, {
    "name": "Deceased",
    "type": "number"
}];

var fusionTable = new FusionCharts.DataStore().createDataTable(data, schema);

  new FusionCharts({
    type: 'timeseries',
    renderAt: 'timeseries',
    width: '100%',
    height: 650,
    dataSource: {
      data: fusionTable,
      chart: {
        
      },
      caption: {
        text: 'Time Series (India)',
      },
      subcaption: {
        text: 'Covid-19'
      },
      xAxis: {
        initialInterval: {
          from: "2021-05-01 12:00:00",
          to: "2021-07-01 12:00:00"
        }
      },
      yAxis: {
        "plot": {
          "type": "area"
        },
        
      },
      navigator: {
        scrollbar: {},
        window: {},
        label: { color: "red" },
        "label-background": {},
        height: 10
      },
      tooltip: {
            outputTimeFormat: {
                day: "%d/%m/%y (%a)"
            },
            style: {
                container: {
                    "border-color": "#000000",
                    "background-color": "rgb(255,130,0,0.6)",
                    "border-radius": "5%"
                },
                text: {
                    "color": "#000",
                    "font-size": "1.2rem",
                    "font-weight": "600",
                }
            }
        },
        legend: {
            alignment: 'middle',
            
        }
    }
  }).render();
</script>
<!-- Bar Chart -->

  <div class="row">
    <div class="col" style="overflow: auto;">
      <canvas id="confirmed"  class=" my-2 graph" width="1200" height="680" style="background: rgba(255, 0, 0, 0.1); "></canvas>
      <canvas id="active"  class=" my-2 graph" width="1200" height="680" style="background: rgba(0, 112, 216, 0.1);"></canvas>
      <canvas id="recovered" class=" my-2 graph" width="1200" height="680" style="background: rgba( 0,128, 0, 0.1); "></canvas>
      <canvas id="deaths" class=" my-2 graph" width="1200" height="680" style="background: rgba(128,128,128, 0.1); "></canvas>
      <script>
        // confirmed data
        var con = document.getElementById('confirmed').getContext('2d');
        var myChart = new Chart(con, {
            type: 'bar',
            data: {
                labels: [{% for st in states|slice:"1:" %} "{{st.state}}", {% endfor %}],
                datasets: [{
                    label: 'Confirmed',
                    data: [{% for st in states|slice:"1:" %} "{{st.confirmed}}", {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 0,0, 0.6)'
                    ],
                    borderColor: [
                        'red'
                    ],
                    borderWidth: 1.5
                }]
            },
            options: {
              responsive: false,
              animation:{
                  delay:1250,
              },
              interaction: {
                        intersect: false,
                        mode: 'index',
                          },
              plugins:{
                legend:{align:'end'}
              },
              indexAxis: 'x',
                scales: {
                    y: {
                        beginAtZero: true
                        ,grid:{
                          drawBorder: false,
                          color: 'rgb(255,0,0,0.2)',
                        }
                    },
                    x: {  grid:{
                      display:false,

                    },
                          ticks: {
                            color: 'red',
                          }
                    }
                }
            }
        });
        // Active data
        var act = document.getElementById('active').getContext('2d');
        var myChart = new Chart(act, {
            type: 'bar',
            data: {
                labels: [{% for st in states|slice:"1:" %} "{{st.state}}", {% endfor %}],
                datasets: [{
                    label: 'Active',
                    data: [{% for st in states|slice:"1:" %} "{{st.active}}", {% endfor %}],
                    backgroundColor: [
                        'rgba(0, 112, 216, 0.8)'
                    ],
                    borderColor: [
                        'blue'
                    ],
                    borderWidth: 1.5
                }]
            },
            options: {
              responsive: false,
              animation:{
                  delay:1250,
              },
              interaction: {
                        intersect: false,
                        mode: 'index',
                          },
              plugins:{
                legend:{align:'end'}
              },
              indexAxis: 'x',
                scales: {
                    y: {
                        beginAtZero: true
                        ,grid:{
                          drawBorder: false,
                          color: 'rgb(0, 112, 216, 0.2)',
                        }
                    },
                    x: {  grid:{
                      display:false,

                    },
                          ticks: {
                            color: 'blue',
                          }
                    }
                }
            }
        });
        // Recovered data
        var rec = document.getElementById('recovered').getContext('2d');
        var myChart = new Chart(rec, {
            type: 'bar',
            data: {
                labels: [{% for st in states|slice:"1:" %} "{{st.state}}", {% endfor %}],
                datasets: [
                {
                    label: 'Recovered',
                    data: [{% for st in states|slice:"1:" %} "{{st.recovered}}", {% endfor %}],
                    backgroundColor: [
                        'rgba(0, 128,0, 0.6)'
                    ],
                    borderColor: [
                        'green'
                    ],
                    borderWidth: 1.5
                }]
            },
            options: {
              responsive: false,
              animation:{
                  delay:1250,
              },
              interaction: {
                        intersect: false,
                        mode: 'index',
                          },
              plugins:{
                legend:{align:'end'}
              },
              indexAxis: 'x',
                scales: {
                    y: {
                        beginAtZero: true
                        ,grid:{
                          drawBorder: false,
                          color: 'rgb(0, 128,0, 0.2)',
                        }
                    },
                    x: {  grid:{
                      display:false,

                    },
                          ticks: {
                            color: 'green',
                          }
                    }
                }
            }
        });
        // Death data
        var dea = document.getElementById('deaths').getContext('2d');
        var myChart = new Chart(dea, {
            type: 'bar',
            data: {
                labels: [{% for st in states|slice:"1:" %} "{{st.state}}", {% endfor %}],
                datasets: [{
                    label: 'Deaths',
                    data: [{% for st in states|slice:"1:" %} "{{st.deaths}}", {% endfor %}],
                    backgroundColor: [
                        'rgba(128, 128,128, 0.6)'
                    ],
                    borderColor: [
                        'gray'
                    ],
                    borderWidth: 1.5
                }]
            },
            options: {
              responsive: false,
              animation:{
                  delay:1250,
              },
              interaction: {
                        intersect: false,
                        mode: 'index',
                          },
              plugins:{
                legend:{align:'end'}
              },
              indexAxis: 'x',
                scales: {
                    y: {
                        beginAtZero: true
                        ,grid:{
                          drawBorder: false,
                          color: 'rgb(128,128,128, 0.2)',
                        }
                    },
                    x: {  grid:{
                      display:false,

                    },
                          ticks: {
                            color: 'grey',
                          }
                    }
                }
            }
        });
      </script>
  </div>
</div>


<script>
  const test = document.querySelector('.tes');
  const conf = document.querySelector('.con');
  const acti = document.querySelector('.act');
  const reco = document.querySelector('.rec');
  const deat = document.querySelector('.dea');
  
  conf.addEventListener('click',()=>{
    test.style.backgroundColor = "#fff";
    conf.style.backgroundColor = "rgba(255, 0, 0, 0.2)";
    acti.style.backgroundColor = "#fff";
    reco.style.backgroundColor = "#fff";
    deat.style.backgroundColor = "#fff";
    document.querySelector('.conf').style.display = "block";
    document.querySelector(".acti").style.display = "none";
    document.querySelector('.reco').style.display = "none";
    document.querySelector('.deat').style.display = "none";
  });

  acti.addEventListener('click',()=>{
    test.style.backgroundColor = "#fff";
    conf.style.backgroundColor = "#fff";
    acti.style.backgroundColor = "rgba(0, 112, 216, 0.2)";
    reco.style.backgroundColor = "#fff";
    deat.style.backgroundColor = "#fff";
    document.querySelector('.conf').style.display = "none";
    document.querySelector('.acti').style.display = "block";
    document.querySelector('.reco').style.display = "none";
    document.querySelector('.deat').style.display = "none";
  });

  reco.addEventListener('click',()=>{
    test.style.backgroundColor = "#fff";
    conf.style.backgroundColor = "#fff";
    acti.style.backgroundColor = "#fff";
    reco.style.backgroundColor = "rgba(0, 128, 0, 0.2)";
    deat.style.backgroundColor = "#fff";
    document.querySelector('.conf').style.display = "none";
    document.querySelector('.acti').style.display = "none";
    document.querySelector('.reco').style.display = "block";
    document.querySelector('.deat').style.display = "none";
  });

  deat.addEventListener('click',()=>{
    test.style.backgroundColor = "#fff";
    conf.style.backgroundColor = "#fff";
    acti.style.backgroundColor = "#fff";
    reco.style.backgroundColor = "#fff";
    deat.style.backgroundColor = "rgba(128, 128, 128, 0.2)";
    document.querySelector('.conf').style.display = "none";
    document.querySelector('.acti').style.display = "none";
    document.querySelector('.reco').style.display = "none";
    document.querySelector('.deat').style.display = "block";
  });
</script>

<script>
  $('.count').each(function () {
  $(this).prop('Counter',0).animate({
      Counter: $(this).text()
  }, {
      duration: 3000,
      easing: 'swing',
      step: function (now) {
          $(this).text(Math.ceil(now));
      }
  });
});
</script>
{% endblock %}